:root {
  --color-logo: #1A1F16;
  --color-background: #4A7856;
  --color-mainPageBackground: #FAF9F6;
  --color-text: #1A1F16;
}

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Plugins */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Class based dark mode */
@custom-variant dark (&:where(.dark, .dark *));